/* Reset CSS default */
* {
  /* margin: 0; */
  /* padding: 0; */
  box-sizing: border-box;
}

/* Css variables example */
/* :root {
  --primary-color: #46a3bf;
  --secondary-color: #ffa500;
  --dark-grey: #383838;
  --light-grey: #c0c0c0;
} */

/* center 'heading-4' text */
.heading-4 {
  text-align: center;
}

/* create a grid layout with 3 columns */
.grid-container {
  display: grid;
}

/* center the text that is inside of the abobe grid using flex */

/* make the grid responsive and for tablet change the above grid to 2 columns and for mobile to a single column. */
