/* Reset CSS default */
* {
  /* margin: 0; */
  /* padding: 0; */
  box-sizing: border-box;
}

/* Css variables example */
/* :root {
  --primary-color: #46a3bf;
  --secondary-color: #ffa500;
  --dark-grey: #383838;
  --light-grey: #c0c0c0;
} */

/* center 'heading-4' text */
.heading-4 {
  text-align: center;
}

/* create a grid layout with 3 columns and 3 rows*/
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

/* center the text that is inside of the abobe grid using flex */
.grid-container .grid-item {
  display: flex;
  justify-content: center;
  border: 1px solid black;
  padding: 10px;
}
/* make the grid responsive and for tablet change the above grid to 2 columns and for mobile to a single column. */
/* for tablet */
@media only screen and (max-width: 992px) {
  .grid-container {
    grid-template-columns: 1fr 1fr;
  }
}
/* for mobile */
@media only screen and (max-width: 600px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
}

/* cell 6 inside grid with red background */
.grid-container .grid-item--6 {
  background-color: red;
}
